div.frame {
    height: 100px;
    width: 100px;
    border: 2px orange solid;
    border-radius: 5px;
}
div.name {
    text-align: center;
}
div.amount {
    text-align: center;
}
div.buy {
    text-align: center;
}

button {
    width: 45px;
    height: 20px;
    margin-top: 27px;
}
